* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
        "contacto  logo   logo        servicios"
        "productos logo   logo        quienSoy";
        gap: 10px;
}

.logo {
    
    grid-area: logo;
    background-color: rgb(7, 92, 18);
}

.quienSoy {
    
    grid-area: quienSoy;
    background-color: rgb(155, 5, 5);
}

.servicios {
    grid-area: servicios;
    background-color: rgb(209, 189, 8);
}

.productos {
    grid-area: productos;
    background-color: rgb(13, 3, 150);
}

.contacto {
    grid-area: contacto;
    background-color: crimson;
}

.container > div {
    display: grid;
    place-items: center;
}